name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  test-build-deploy:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
        pip install pytest

    - name: Run Tests
      run: pytest

    - name: Build Docker Image
      run: docker build -t 3tier-app .

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Image
      run: |
        docker tag 3tier-app ${{ secrets.DOCKER_USERNAME }}/3tier-app:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/3tier-app:latest
